.services {
  &__root {
    @include fade-up(0.8s);
    display: flex;
    flex-wrap: wrap;
    padding: 5.5rem 1rem 0 1rem;
    gap: 1rem;
    height: auto;
    @media (min-width: $br-desktop) {
      height: 85vh;
    }
  }

  &__select {
    @include container(100%, 100%, calc(25% - 3rem));
    padding: 1rem;
    background-color: $color-ternary;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: calc(100% - 2rem);
    margin: 1rem 0;
  }

  &__category {
    @include title($color-primary, 700, 0.8rem, 0.8rem, 1.2rem);
    @include container(calc(33.33% - 1rem), calc(33.33% - 1rem), 100%);
    @include fade-up(0.5s);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: $border-radius;
    height: 8rem;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
      cursor: pointer;
    }

    &:active {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  &__empty {
    @include title($color-primary, 700, 1rem, 1rem, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }

  &__icon {
    margin: 1rem;
  }

  &__img {
    height: 4rem;
    width: 6rem;
  }

  &__payment {
    @include container(100%, 100%, calc(50% - 2rem));
    background-color: $color-ternary;
    border-radius: $border-radius;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bill {
    @include title($color-primary, 400, 1rem, 1rem, 1rem);
    align-self: start;
    margin: 0 3rem;
  }

  &__form {
    width: 100%;
  }

  &__group {
    @include fade-up(0.8s);
    width: 100%;
    margin: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include title($color-primary, 700, 2rem, 2rem, 2.5rem);
    padding: 0;
    margin: 1rem;
  }
}
