.transfer {
  &__root {
    @include fade-up(0.8s);
    display: flex;
    flex-wrap: wrap;
    padding-top: 6rem;
  }

  &__section {
    @include container(100%, calc(50% - 4rem), calc(50% - 4rem));
    margin: 2rem 2rem;
  }

  &__title {
    @include title($color-primary, 700, 2rem, 2rem, 2.5rem);
    width: calc(100% - 6rem);
    margin: 0 3rem;
  }

  &__subtitle {
    @include title($color-primary, 500, 1rem, 1rem, 1.5rem);
    width: 100%;
    margin: 1rem 3rem;
  }

  &__instruction {
    text-align: justify;
    line-height: 1.5rem;
  }
}
