.transfer {
  &__root {
    @include fade-up(0.8s);
    display: flex;
    flex-wrap: wrap;
    padding: 6.5rem 1rem 2rem 1rem;
    gap: 1rem;
    height: auto;
    @media (min-width: $br-desktop) {
      height: 100vh;
    }
  }

  &__section {
    @include container(100%, 100%, calc(50% - 0.5rem));
    margin: 1rem 0;
    @media (min-width: $br-desktop) {
      margin: 0;
    }
  }

  &__container {
    width: calc(100% - 4rem);
    height: 90%;
    background-color: $color-ternary;
    padding: 2rem;
    border-radius: $border-radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &--center {
      gap: 1rem;
    }
  }

  &__img {
    height: 10rem;
    width: 10rem;
  }

  &__title {
    @include title($color-primary, 700, 2rem, 2rem, 2.5rem);
    text-align: center;
    margin: 0 0 1rem 0;
  }

  &__instruction {
    text-align: justify;
    line-height: 1.5rem;
  }
}
