$color-primary: #163596;
$color-secondary: #c6d400;
$color-ternary: #fff;

$color-gardient: linear-gradient(180deg, #1c3583 36%, #2c4ba9);

$color-white: #fff;
$color-black: #000;

$text-color-light: #fff;
$text-color-dark: #00304c;

$global-border: 2rem;

//Break Points
$br-mobile: 480px;
$br-tablet: 700px;
$br-desktop: 1000px;


//Shadow
$shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;