$color-primary: #163596;
$color-secondary: #c6d400;
$color-ternary: #ebeff3;

$color-gardient: linear-gradient(180deg, #1c3583 36%, #2c4ba9);
$color-gardient-2: linear-gradient(to left, $color-primary, #021c7d);

$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;

$color-light: #fff;
$color-dark: #00304c;

//Break Points
$br-mobile: 480px;
$br-tablet: 700px;
$br-desktop: 1000px;

//Shadow
$shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

//Border Radius
$border-radius: 1rem 0 1rem 0;
