.login {
  &__root {
    height: 95vh;
  }

  &__section {
    margin-top: 2rem;

    @media (min-width: $br-desktop) {
      margin: 0;
    }
  }

  @include access-template(url("../../assets/back1.png"));

  &__form {
    @include container(90%, 50%, 70%);
    height: 25rem;
    border-radius: 4rem 0 4rem 0;
    background-color: $color-white;
    box-shadow: $shadow;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include fade(1s);

    @media (min-width: $br-desktop) {
      margin: 0;
    }
  }

  &__footer {
    width: 100%;
  }
}
