.home {
  &__root {
    background-position: 100% 0;
    background-image: linear-gradient(
        to bottom,
        $color-primary 10%,
        rgba(255, 255, 255, 0.5)
      ),
      url("https://img.freepik.com/free-photo/happy-family-using-computer-credit-card-home_568137-430.jpg?w=2000");

    background-size: cover;
  }
}
