.service {
  &__root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 0.25rem $color-primary solid;
    box-shadow: $shadow;
    height: 8rem;
    width: 20%;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      transform: translateY(-10%);
    }
  }

  &__name {
    @include title($color-white, 100, 1rem, 1rem, 1rem);
    text-align: center;
    margin: 0 1rem;
  }
}
