.transaction {
  &__root {
    @include fade-up(0.5s);
    display: flex;
    width: calc(100% - 4rem);
    margin: 1rem 2rem;
    background-image: $color-gardient-2;
    border-radius: 1rem 0 1rem 0;

    &--red {
      border-left: 1rem $color-red solid;
    }

    &--green {
      border-left: 0.7rem $color-secondary solid;
    }
  }

  &__section {
    display: flex;

    &--left {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;

      @media (min-width: $br-desktop) {
        width: 70%;
      }
    }

    &--right {
      width: 30%;
      justify-content: flex-end;
      display: none;
      @media (min-width: $br-desktop) {
        display: block;
      }
    }
  }

  &__info {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: $br-desktop) {
      width: 70%;
    }
  }

  &__date {
    height: 4rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-primary;
    background: $color-white;
    font-weight: bold;
    font-size: 1.2rem;

    & > p {
      margin: 0;
    }
  }

  &__detail {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    color: $color-white;
  }

  &__hour {
    margin: 0.5rem 0;
    color: $color-white;
  }

  &__amount {
    margin: 1.5rem 1rem;
    font-size: 1.2rem;
    color: $color-white;
    display: none;
    @media (min-width: $br-desktop) {
      display: block;
    }

    &--hidden {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      color: $color-white;

      @media (min-width: $br-desktop) {
        display: none;
      }
    }
  }
}
