.nav-bar {
  &__root {
    background-color: $color-primary;
    height: 5.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }

  &__buttons {
    display: flex;
    margin: 0 1rem;
    align-items: center;
    gap: 1rem;
  }

  &__routes {
    margin: 1rem 2rem;
    display: none;

    @media (min-width: $br-desktop) {
      display: flex;
    }
  }
}

.log-out {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
