.history {
  &__root {
    @include fade-up(1s);
    display: flex;
    flex-wrap: wrap;
    padding: 5.5rem 1rem 0 1rem;
    gap: 1rem;
    height: auto;
    @media (min-width: $br-desktop) {
      flex-wrap: nowrap;
      height: 85vh;
    }
  }

  &__title {
    @include title($color-primary, 700, 2rem, 2rem, 2.5rem);
    width: calc(100% - 6rem);
    margin: 1rem 3rem;
  }

  &__section {
    @include container(100%, 100%, calc(50% - 1rem));

    padding: 1rem;
    background-color: $color-ternary;
    border-radius: $border-radius;

    &--sticky {
      overflow: hidden;
    }

    &--scroll {
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__form {
    width: calc(100% - 2rem);
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    display: flex;
    width: calc(100% - 6rem);
    margin: 1rem 2rem;
    background-image: $color-gardient-2;
    border-radius: 1rem 0 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 0.7rem;
    color: $color-white;
  }

  &__icon {
    height: 4rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-primary;
    background: $color-white;
    font-size: 1.2rem;
  }
}
