@font-face {
  font-family: "Kredit";
  src: url(/* webpackPreload: true */ "../../../assets/fonts/kredit.ttf");
}

.account {
  &__root {
    display: flex;
    flex-wrap: wrap;
    height: 20rem;
    width: 100%;
    margin: 0.5rem 0;
    border: none;
    border-radius: 2rem 0 2rem 0;
    background-image: url("../../../assets/logoBN2.png"), linear-gradient( to bottom, $color-primary ,#0c1a4b);
    background-position: 90% 14%;
    background-repeat: no-repeat;
    box-shadow: $shadow;
  }

  &__content {
    width: 100%;

    @media (min-width: $br-tablet) {
      width: 80%;
    }
  }

  &__header {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__footer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__logo {
    margin: 1rem;
    width: 4.5rem;
    height: 3rem;
  }

  &__balance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__value {
    font-size: 2rem;
    margin: 0.5rem 1.5rem;
    line-height: 2.5rem;
    color: $color-white;
    font-family: "Kredit", sans-serif;
    font-weight: bold;

    &--number {
      font-size: 3.8rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    margin: 0.5rem 1.5rem;
    color: $color-secondary;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }

  &__actions {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem 2rem;

    @media (min-width: $br-tablet) {
      width: calc(20% - 2rem);
      flex-direction: column;
    }
  }
}
