@mixin forms {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-white;
  padding: 3rem;
  margin: 3rem;
  border-radius: 3rem 0 3rem 0;
  box-shadow: $shadow;
  @include fade(1s);
  width: 100%;


  &__input-label {
    height: 6rem;
    margin: 0 3rem;
    display: flex;
    flex-wrap: wrap;

    &--50 {
      @include container(100%, 100%, 50%);
    }
  }

  &__label {
    width: 100%;
    @include title($color-primary, 400, 1rem, 1rem, 1rem);
  }

  &__input {
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 1rem 0;
    border: 0.125rem solid $color-primary;
    text-indent: 1rem;
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__button-container {
    display: flex;
    width: 50%;
    justify-content: center;
  }

  &__error {
    color: red;
  }
}
